.tiles {
    display: flex;
    margin-top: 12px;
}

.tiles>div:first-child {
    margin-right: 12px;
}

/*.tab_stats_container {
    min-height: 450px;

    @media (pointer:none), (pointer:coarse) {
        min-height: unset;

    }
}*/