.MainLinks {
  display: flex;
  position: fixed;
  bottom: var(--spacing-s);
  width: calc(100% - var(--spacing-xl));
}

.MainLinks a,
.MainLinks button {
  width: 100%;
  color: var(--secondary);
  height: 36px;
  border-right: 1px solid var(--grey-100);
  line-height: 1;
  gap: var(--spacing-xxs);

  &:hover {
    color: var(--primary);
  }
}

.MainLinks > *:last-child {
  border-right: none;
}
