.btn_button {
    position: relative;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    overflow: hidden;
    height: 50px;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    transition: background 0.15s ease-in-out;
}

.btn_button:disabled {
    cursor: progress;
}

.btn_button__loading {
    width: var(--btn_width_loading);
}

.btn_loader {
    width: 32px;
    height: 32px;
    border: 4px solid #FFF;
    border-bottom-color: var(--blue);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.default {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.2px;
    font-weight: bold;
}

.small {
    font-size: 14px;
    line-height: 1.29;
    width: 155px;
    height: 36px;
    padding-left: 4px !important;
    padding-right: 4px !important;
}

.hidden {
    visibility: hidden;
}

.primary {
    background-color: var(--grey-black);
    color: var(--grey-bright);
}

.primary:hover {
    background-color: #4B5058;
}

.secondary {
    background: none;
    border-radius: 8px;
    border: solid 1px #050506;
    color: var(--grey-black);
}

.secondary:hover {
    background-color: #C8CBD0;
}