.IconShield {
  position: relative;
  width: 60px;
  height: 68px;
}

.IconShieldCount,
.IconShield svg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.IconShieldCount {
  display: grid;
  letter-spacing: .5px;
  place-items: center;
}
