.help-section .title {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.33;
    margin-top: 8px;
    margin-bottom: 12px;
}

.help-links {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border: 1px solid var(--border);
    overflow: hidden;
}

.help-links a {
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: var(--grey-black);
    font-size: 14px;
    text-decoration: none;

    height: 36px;
    padding-left: 12px;
    padding-right: 12px;

    transition: background-color 0.15s ease-in-out;
}

.help-links a:not(:last-child) {
    border-bottom: 1px solid var(--grey-semi-darkness);
}

.help-links a .chevron {
    transition: transform 0.15s ease-in-out;
}

.help-links a:hover, .help-links a:focus {
    background: var(--grey);
}

.help-links a:hover .chevron, .help-links a:focus .chevron {
    transform: translateX(2px);
}

.help-links a:last-child {
    border-bottom: none;
}