.Popup {
  width: 360px;
}

.PopupBack {
  gap: var(--spacing-xs);

  svg {
    transition: transform .3s;
    width: 24px;
    height: 24px;
  }

  &:hover svg {
    transform: translateX(calc(var(--spacing-xxs) * -1px));
  }
}

.PopupSearch {
  color: var(--grey-000);
  transition: color .3s;

  &:hover {
    color: var(--action-blue-300)
  }
}
