.error__content {
    min-height: 480px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 24px;
}

.error__message {
    font-size: 16px;
    color: var(--grey-black);
}