.main__header {
    height: 36px;
    background-color: var(--blue);
    padding: 18px 24px;
    display: flex;
    align-items: center;
}

.main__header>.close {
    user-select: none;
    cursor: pointer;
}

.main__header>.logo {
    cursor: pointer;
    margin-top: 4px;
    margin-left: 8px;
}