.PermissionMissing {
  display: grid;
  grid-template-columns: 72px 1fr;
  gap: var(--spacing-s);
  border-color: var(--grey-500) !important;
  background-color: var(--grey-100)!important;
}

.PermissionMissing .PermissionMissingShield {
  width: 70px;
  height: 70px;
}

.PermissionMissingAction {
  grid-column: 1 / -1;
}
