:root {
    --white: #ffffff;
    --green: #85d6ad;
    --grey-black: #0c0c0e;
    --black: #000000;
    --grey: #e9eaec;
    --grey-base: #898991;
    --grey-bright: #f5f5f7;
    --grey-semi-darkness: #59595f;
    --blue: #5c97ff;
    --blue-light: #99beff;
    --purple-light: #ded6ff;
    --border: #676e79;
}